<form #userData="ngForm" (ngSubmit)="login(userData)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" email required #email="ngModel" ngModel>
      <div class="alert alert-danger mt-3" *ngIf="email.invalid && (userData.submitted || email.touched)">
        <li *ngIf="email.errors?.['required']">email is required</li>
        <li *ngIf="email.errors?.['email']">invalid email</li>
    </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>